 
//  .Silder Section Start
.silder-sec{
    z-index: 0;
    background-image: url('../../assets/img/silder-bg.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include sm{
        padding-top: 150px;
        padding-bottom: 150px; 
    }
    @include md{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    @include lg{
        padding-top: 150px;
        padding-bottom: 150px;
        
    }
    @include xl{
      
        padding-top: 150px;
        padding-bottom: 150px; 
    }
    @include xxl{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    & .silder-head {
        color: $theme4;
        margin-top: 0;
        font-family: Eina02, sans-serif;
        @include sm{
            font-size: 35px;
        }
        @include xl{
            font-size: 51px;
        }
        @include xxl{
            font-size: 60px;
        }
    }
   
    & .silder-para{
        margin-bottom: 10px;
        font-family: Inter, sans-serif;
        font-size: 20px;
        line-height: 145%;
    }
    & .inner-baaner-warp{
        z-index: -1;
        /* width: 100%; */
        height: 100%;
        position: absolute;
        top: 0;
        bottom: auto;
        right: 0;
    }
  
   
}


//  banner icons 1 

.small-baaner-1{
        @include sm{
            position: absolute;
            top: -253px;
            bottom: auto;
            right: 11px;
        }
        @include md{
            position: absolute;
            top: -253px;
            bottom: auto;
            right: 11px;
        }
        @include lg{
            position: absolute;
            top: -285px;
            bottom: auto;
            right: 30px;
            
        }
        @include xl{
            position: absolute;
            top: -239px;
            bottom: auto;
            right: 9px;
            
        }@include xxl{
            position: absolute;
            top: -249px;
            bottom: auto;
            right: 9px;
        }
}


//  banner icons 2

.small-baaner-2{
    @include sm{

   }
   @include md{
       
   }
   @include lg{
        position: absolute;
        top: -170px;
        bottom: auto;
        left: auto;
        right: 339px;
   }
   @include xl{
        position: absolute;
        top: -207px;
        bottom: auto;
        left: auto;
        right: 280px;
    }
   @include xxl{
        position: absolute;
        top: -157px;
        bottom: auto;
        left: auto;
        right: 339px;
   }
}


//  banner icons 3

.small-baaner-3{
    @include sm{

   }
   @include md{
       
   }
   @include lg{
    position: absolute;
    top: -14px;
    bottom: auto;
    left: auto;
    right: 102px;
       
   }
   @include xl{
    position: absolute;
    top: -67px;
    bottom: auto;
    left: auto;
    right: 52px;
       
   }
   @include xxl{
    position: absolute;
    top: -14px;
    bottom: auto;
    left: auto;
    right: 102px;
   }
}

//  banner icons 4

.small-baaner-4{
  
    @include sm{

   }
   @include md{
       
   }
   @include lg{
        position: absolute;
        top: 24px;
        bottom: auto;
        left: auto;
        right: 439px;
       
   }
   @include xl{
        position: absolute;
        top: 24px;
        bottom: auto;
        left: auto;
        right: 439px;
       
   }
   @include xxl{
        position: absolute;
        top: 24px;
        bottom: auto;
        left: auto;
        right: 439px;
   }
}



//  .Shop Our Top Categories 
.shopCateoriesCard{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    &:hover{
        & .cardImg{
            & img{
                transform: scale(1.1);
            }
        }
    }
    & .categoriesHeading{
        position: absolute;
        top: 15px;
        text-align: center;
        font-size: 15px;
        color: $white;
        font-weight: 600;
        width: 100%;
        @include sm{
        font-size: 20px;

        }
        @include md{
        font-size: 25px;

        }
    }
    & .cardImg{
        & img{
            transition: all 0.3s ease-in-out;
        }
    }
}

// Cash Back Start 

.cash-card{
    background-color: #ffe6cc;
    & .silder-head{
        color: #222;
        font-size: 51px;
        line-height: 56px;
        font-weight: bold;
    }
    & .body-text{
        font-weight: 500;
        font-size: 21px;
    }
}

// Trending Section Start 

.trading-box{
    background-color: #f5f6f6;
    &:hover img{
        transform: scale(1.2);
        border-radius: 10px;
        transition: all .2s;
    }
    & .trading-img{
        & img{
            border-radius: 10px;
            transition: all .2s;
        }
    }   
    & .discount-body{
        position: relative;
        padding: 30px 20px;
        & .tittle{
            color: #000;
            font-size: 20px;
            font-weight: 700;
        }
        & .body-desicrition{
            align-items: center;
            margin-bottom: 8px;
            display: flex;
            & span{
                color: #848181;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
}


// Help Section Start 

.help-box{
    background-color: #f5f6f6;
    border-radius: 13px;
    &:hover img{
        transform: scale(1.2);
        border-radius: 10px;
        transition: all .2s;
    }
    & .trading-img{
        & img{
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            transition: all .2s;
        }
    }   
    & .discount-body{
        position: relative;
        padding: 30px 30px;
      
        & .tittle{
            color: #000;
            font-size: 23px;
            font-weight: 700;
        }
        & .body-desicrition{
            align-items: center;
            margin-bottom: 8px;
            display: flex;
            & span{
                color: #848181;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
}

// Trending Section Start 

.trading-box2{
    &:hover .imgs2{
        transform: scale(1.2);
        border-radius: 10px;
        transition: all .2s;
    }
    & .trading-img2{
        & .imgs2
        {border-radius: 5px;
            transition: all .2s;
        }
    }   
    & .discount-body2{
        position: relative;
        padding: 30px 20px;
        & img:first-child{
            position: absolute;
            left: 19px;
            top: -31px;
        }
        & .tittle2{
            color: #000;
            font-size: 20px;
            font-weight: 700;
        }
        & .body-desicrition2{
            align-items: center;
            margin-bottom: 8px;
            display: flex;
            & .dot {
                width: 4px;
                height: 4px;
                background-color: #848181;
                border-radius: 100px;
                margin-left: 4px;
                margin-right: 4px;
            }
            & span{
                color: #848181;
                font-size: 12px;
                font-weight: 500;
            }
        }
        & span{
            color: #c34482;
        }
    }
}



// today best deal card 

.bestDealCard{
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.09);
    border-radius: 10px;
    & .heartIcon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $white;
        padding: 12px;
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        & img{
            transition: all 0.3s ease-in-out;

        }
        &:hover{
            background-color: #fddddd;
            & img{
                filter: invert(1);
            }
        }
        @include sm{
            width: 50px;
            height: 50px;
        }
    }
    & .cardImg{
        background-color: lighten($black, 95);
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include sm{
            height: 320px;
    
                &:hover{
                    & img{
                        transform: scale(1.1);
                    }
                }
            }
        & img{
            height: 200px !important;
            width: 200px !important;
            transition: all 0.3s ease-in-out;
            @include sm{
           height: 300px !important;
            width: 300px !important;
            }

        }
    
    }
    & .cardContent{
        padding: 0px 10px;
        margin-bottom: 5px;
        
    }
}

 .starIcon{
    width: 20px;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    color: $black;
   
}
.addCardBtn{
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid lighten($black, 40);
    font-size: 14px;
    color: $black;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    width: auto;
    &:hover{
        background-color: $theme3 !important;
        border-color: $theme3;
        color: $white;
    }
    @include sm{
    font-size: 16px;
    padding: 10px 22px;

    }
}

// Start Brand Section 

.brand-boxs{
    z-index: 0;
    border: 1px solid #f5f6f6;
    background-color: #f5f6f6;
    border-radius: 10px;
    transition: all .2s;
    & img{
        transition: all .2s;
        &:hover{
            transform: scale(1.2);
            border-radius: 10px;
            transition: all .2s;
        }
    }
    &:hover{
        border: 1px solid #003d29;
        transition: all .2s;
    }

    & .brand-title{
        color: #231f1e;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 600;

    }
    & .small-text{
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
    }}

// Get Up To 70% Off

.discount-box{
     border-radius: 10px;
     &:hover img{
        transform: scale(1.2);
        border-radius: 10px;
        transition: all .2s;
    }
    & .color-text1{
    color: #cb9917;
    }
    & .color-text2{
        color: #961f1f;
    }
    & .color-text3{
        color: #94623c;
    }
    & .color-text4{
        color: #94623c;
    }
    &.offer-color{
        background-color: #f2e4d9;
     }
     &.offer-color2{
        background-color: #f9dcdc;
     }
     &.offer-color3{
        background-color: #f2e4d9;
     }
     &.offer-color4{
        background-color: #d2f7ec;
     }
    & .offer-color{
        max-width: 381px;
        margin-top: 0;
        font-family: Inter, sans-serif;
        font-size: 22px;
    }
    & .discount-body{
        padding: 30px;
        & .discount-price{
            font-size: 52px;
            font-weight: 700;
            line-height: 52px;
        & span{
            font-size: 31px;
            line-height: 41px;
            position: relative;
            top: -16px;
            }
        }
        & .title{
                font-size: 22px;
                font-weight: 600;
            }
        & .body-desicrition{
            color: #231f1e;
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 500;
        }
    }
    & .offers-img{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        & img{
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            transition: all .2s;
            
        }
    }
}

// Offers Section 

.offers-sections{
    z-index: 0;
    background-image: url('../../assets/img/offer-bg.png');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    & .cash-boxs{
        background-color: #003d29;
        text-align: left;
        padding: 75px 64px !important; 
    }
    & .silder-head{
        color: #fff;
        font-size: 51px;
        line-height: 56px;
    }
    & .silder-para{
        font-size: 20px;
    }
}

// Todays Best Deals For You! Section 
.deal-tabs{
    & .nav-item{
        & .nav-link{
            color: #231f1e;
            text-transform: capitalize;
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid #c5c5c5;
            border-radius: 100px;
            margin-right: 16px;
            padding: 14px 23px;
            font-size: 14px;
            font-weight: 600;
            line-height: 100%;
            transition: all .2s;
            &.active{
                color: #fff;
                background-color: #003d29;
                border-color: #003d29;
              }
           }
          
         }
       
   
}

// product details 

.productDetailsSection{
    & .leftproductContent{
        position: sticky;
        top: 0;
      
        & .productSwiper{
            & .swiper-wrapper{
                & .swiper-slide{
                    height: 370px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: lighten($black, 95);
                    border-radius: 5px;
                    transition: all 0.3s ease-in-out;
                    overflow: hidden;
                    @include xl{
                    height: 490px;

                    }
                    & img{
                    transition: all 0.3s ease-in-out;
    
                    }
                    &:hover{
                        & img{ 
                            transform: scale(1.1) !important;
                        }
                    }
                    & .offSales{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 25px;
                        font-size: 10px;
                        background-color: $red;
                        padding: 5px 10px;
                        border-radius: 5px;
                        color: $white;
                        font-weight: 600;
                        position: absolute;
                        top: 20px;
                        right: 20px;
                    }
                    
                }
            }
        }
        & .bottomSlider{
            margin-top: 6px;
            // height: 20%;
            box-sizing: border-box;
            padding: 10px 0;
            & .swiper-slide {
                width: 25%;
                height: 100px;
                opacity: 0.4;
                overflow: hidden;
                @include xl{
                height: 120px;

                }
                & img{
                    transition: all 0.3s ease-in-out;
    
                    }
                    &:hover{
                        & img{ 
                            transform: scale(1.1) !important;
                        }
                    }
              }
        }
        & .swiper-slide-thumb-active {
            opacity: 1 !important;
        }
    }
    & .sideContentProduct{
     
        & .ratingcard{
            border: 1px solid lighten($black,50);
            border-radius: 3px;
            padding: 3px 5px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                border-color: $theme3;
            }
    
        }
        & .rsIcon{
            width: 15px;
            height: 20px;
            margin-right: -5px;
            @include sm{
                width: 20px;
                height: 25px;
            }
        }
        & .rateHeading{
            font-size: 18px;
            font-weight: 600;
            color: $black;
            @include sm{
                font-size: 20px;
            }
            @include md{
                font-size: 25px;
            }
    
        }
        & .taxesHeading{
            color: $theme3;
        }
        & .productColor{
            cursor: pointer;
            width: 90px;
            height: 100px;
        }
        & .selectSize{
    
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border:1px solid lighten($black, 90);
            background: $white;
            font-size: 12px;
            color: $black;
            font-weight: 700;
            transition: all 0.3s ease-in-out;
            &:hover{
                border-color:$theme3 ;
            }
            @include sm{
                width: 50px;
                height: 50px;
            }
        }
        & .qualiltymain {
            border: 1px solid lighten($black, 40) !important;
            height: 37px;
            border-radius: 5px;
            @include sm{
            height: 47px;

            }
            & .qualityicon {
                width: 35px;
                font-size: 18px;
                font-weight: 600;
                color: $black;
                cursor: pointer;
            }
            & .quantityinput {
                width: 40px;
                font-size: 14px;
                font-weight: 500;
                color: $black;
            }
        }
        & .iconany{
            width: 25px;
            height: 25px;
            margin-left: 5px;
        }
       
        & .borderSection {
            border-right: transparent !important;

            @include sm{
                border-right: 1px solid lighten($black, 90) !important;
            }
        }
        & .descriptionCard{
         
            padding: 30px 15px;
            & .descriptionHeading{
                font-size: 20px;
                color: $black;
                margin-bottom: 25px;
            }
            & .descriptionHeading2{
                font-size:18px;
                color: $black;
            }
            & .detailsPera{
                font-size: 16px;
                font-weight: 400;
                color: lighten($black, 40);
            }
            & .brandHeading{
                font-size: 18px;
                font-weight: 700;
            }
            
            & .itemHeading{
                font-weight: 400;
                color:$theme1;
                letter-spacing: 1px;
                & .imgicon{
                    width: 18px;
                    height: 18px;
                }
            }
            & .ratingCard{
              
                padding: 30px;
                & .reviewHeading{
                    font-size: 35px;
                    color:$black;
                    font-weight: 700;
                    & .reviewSubheading{
                        font-size: 18px;
                    }
                }
            }
        
            & .ratingSection{
                max-width: 650px;
                width: 100%;
             
                & .progressBar{
                    background-color: $theme3;
                    &.progressBar2{
                        background-color:$theme1;
                    }
                }
               
            }
        }
    }
  
}



