// For Normal Text
body{
    font-family: "Inter", sans-serif !important;
}
body::-webkit-scrollbar {
    width: 7px;
    background-color: #cac4c4;
}
body::-webkit-scrollbar-thumb {
    background-color: $theme4;
    border-radius: 5px;
}
.body_text{
    font-size: 18px;
    font-weight: 700;
    color: $black;
    line-height: 1.8;
    padding: 10px 0px 0px 0px;
    @include sm{
        font-size: 18px;

    }
    @include md{
    font-size: 18px;
        
    }
    @include lg{
        font-size: 18px;
    }
    @include xl{
        font-size: 18px;
    }@include xxl{
        font-size: 18px;
    }
}

.body_text_small{
    font-size: 12px;
    color: $black;
    line-height: 1.6;
    font-weight: 600;
    opacity: 0.7;
    @include sm{
        font-size: 14px;

    }
    @include md{
        
    }
    @include lg{
        
    }
    @include xl{
        
    }@include xxl{
        
    }
}

.body_heading_small{
    font-size: 12px;
    font-weight: 700;
    color: $black;
    @include sm{
        font-size: 14px;

    }
    @include md{
        
    }
    @include lg{
        
    }
    @include xl{
        
    }@include xxl{
        
    }
}
.body_text_large{
    font-size: 16px;
    color: $black;
    line-height: 1.8;
    font-weight: 600;
    @include sm{
        font-size: 18px;

    }
    @include md{
        
    }
    @include lg{
        
    }
    @include xl{
        
    }@include xxl{
        
    }
}

// For Space Between Sections Must Apply On Container Fluid
.side_spacing{
    padding: 0px 40px;
    @include sm{
        padding: 0px 15px !important;
    }
    @include md{
        
    }
    @include lg{
       
    }
    @include xl{
        
    }@include xxl{
        
    }
}
.section_spacing{
    padding-block: 1.5rem;
    @include sm{
     
    }
    @include md{
        
    }
    @include lg{
        padding-block: 2.5rem;
    }
    @include xl{
        
    }@include xxl{
        
    }
}

// For Dark Theme and Light Theme

.bg_drak{
    background-color: $black;
}

.bg_light{
    background-color: #F8F9FA;
}

// For Heading

.body_heading{
    color:$black;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 15px;
  
    @include sm{
        font-size: 30px;

    }
    @include md{
    font-size: 35px;
        
    }
    @include lg{
        font-size: 28px;
    }
    @include xl{
        font-size: 28px;
    }@include xxl{
        font-size: 28px;
    }
}


.body_heading_large{
    font-size: 18px;
    font-weight: 700;
    color: $black;
    @include sm{

    }
    @include md{
        
    }
    @include lg{
        
    }
    @include xl{
        
    }@include xxl{
        
    }
}

// For Subheading

.body_subheading{
    font-size: 22px;
    font-weight: 600;
    color: $gray-600;
    @include sm{

    }
    @include md{
        
    }
    @include lg{
        
    }
    @include xl{
        
    }@include xxl{
        
    }
}

.body_subheading_small{
    font-size: 12px;
    font-weight: 700;
    color: $gray-600;
    @include sm{

    }
    @include md{
        
    }
    @include lg{
        
    }
    @include xl{
        
    }@include xxl{
        
    }
}

.body_subheading_large{
    font-size: 15px;
    font-weight: 700;
    color: $gray-600;
    @include sm{

    }
    @include md{
        
    }
    @include lg{
        
    }
    @include xl{
        
    }@include xxl{
        
    }
}

// For button 

.button-theme1{
    background-color:$theme4;
    z-index: 0;
    border-radius: 50px;
    padding: 16px 36px;
    text-decoration: none;
    transition: all .2s;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    &:hover{
        background-color: #272220;
    }
    @include sm{

    }
    @include md{
        
    }
    @include lg{
        
    }
    @include xl{
        
    }@include xxl{
        
    }
}